<% if object.errors.any? %>
  <div id="error_explanation" class="mb-6 p-4 border border-red-500 rounded bg-red-100">
    <h2 class="text-red-700 font-semibold mb-2">
      <%= pluralize(object.errors.count, "error") %> :
    </h2>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="text-red-600"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>